{% load static %}
<!DOCTYPE html>-->

<p>Please wait.. </p>

<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Facebook Redirect</title>-->
<!--</head>-->
<!--<body>-->
<!--<H1> Facebook Redirect </H1>-->

<!--<B> CODE </B>-->

    <!--{% for item, val in params.items %}-->
        <!--<p>{{ item }} : {{ val }} </p>-->
    <!--{% endfor %}-->

<!--<B> ACCESS </B>-->

    <!--{% for item, val in at.items %}-->
        <!--<p>{{ item }} : {{ val }} </p>-->
    <!--{% endfor %}-->

<!--<B> USER INFO </B>-->

    <!--{% for item, val in user_info.items %}-->
        <!--<p>{{ item }} : {{ val  }} </p>-->
    <!--{% endfor %}-->
<!--</body>-->
<!--</html> -->

    {% if token %}
        <input type="hidden" id="access_token" value="{{ token }}">
    {% endif %}

{% block js %}
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{% static 'js/redirect.js' %}"></script>
{% endblock js %}